MASTER_HOST_IP={{ masterhostip }}
MASTER_HOST_FQDN={{ masterhostip }}
MASTER_HOST_GW={{ masterhostgw }}
WORKER_GW={{ workergw }}
WORKER_IP1={{ workerip1 }}
WORKER_IP2={{ workerip2 }}
WORKER_HOSTS=({{ workerip1 }} {{ workerip2 }})
FLOATING_IP={{ floatingip1 }}
K8S_VER={{ k8sver }}
FLANNEL_VER={{ flannelver }}
K8S_SERVICE_IP=10.3.0.1
NET_OVERLAY={{ netoverlay }}
DNSSERVER={{ dnsserver }}
CLUSTER_DNS=10.3.0.10
CLOUD_PROVIDER={{ cloudprovider }}
SERVICE_CLUSTER_IP_RANGE=10.3.0.0/24
ETCD_ENDPOINTS_URLS=https://{{ masterhostip }}:2379,https://{{ workerip1 }}:2379,https://{{ workerip2 }}:2379
USER_CORE_PASSWORD="{{ corepassword }}"
USER_CORE_KEY1="{{ sshkey1 }}"
USER_CORE_KEY2="{{ sshkey2 }}"
