kubectl config set-cluster {{ masterhostip }}-cluster --server=https://{{ floatingip1 }} --certificate-authority=./cloudinit_generator/set/ca.pem
kubectl config set-credentials {{ masterhostip }}-admin --certificate-authority=./cloudinit_generator/set/ca.pem --client-key=./cloudinit_generator/set/admin-key.pem --client-certificate=./cloudinit_generator/set/admin.pem
kubectl config set-context {{ masterhostip }}-admin --cluster={{ masterhostip }}-cluster --user={{ masterhostip }}-admin 
kubectl config use-context {{ masterhostip }}-admin

