[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = swarm 
DNS.2 = swarm.default
DNS.3 = swarm.default.svc
DNS.4 = swarm.default.svc.cluster.local
IP.1 = {{ floatingip1 }} 
IP.2 = 127.0.0.1
